body {
    background-color: lightblue;
}

h1 {
    margin-top: 0px;
    font-family: 'Faster One', cursive;
    color: black;
    font-size: 125px;
    /* font-weight: bold; */
    text-align: center;
}

h2 {
    margin-top: 0px;
    font-size: 50px;
    text-align: center;
    font-family: 'IM Fell English SC', serif;
}

h3 {
  margin-top: 0px;
  font-size: 40px;
  text-align: center;
  font-family: 'Anton', sans-serif;
}

#wrapper {
    /* width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%; */

    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

#articles {
    display: inline-block;
    overflow: auto;
    width: 60%;
    height: 700px;
}

p {
  font-family: 'Special Elite', cursive;
  font-weight: bold;
  font-size: 16px;
}

.notesButton {
  font-family: 'Bangers', cursive;
  font-size: 20px;
  margin: 5px;
  padding: 5px;
  background-color: lightgreen;
  border-radius: 4px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  transition: box-shadow 1s; transform: 2s;
}

#notes {
    float: right;
    width: 30%;
}

#savenote {
  font-family: 'Bangers', cursive;
  font-size: 20px;
  margin: 5px;
  padding: 5px;
  background-color: lightgreen;
  border-radius: 4px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  transition: box-shadow 1s; transform: 2s;
}

textarea,
input {
    display: block;
    width: 100%;
    background-color: #FCF5C7;
}

input {
    height: 36px;
    font-size: 24px;
}

textarea {
    height: 200px;
    font-size: 18px;
}